<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subject Name</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>
    <div class="container-fluid no-gutters my-3 row">
        <div class="col-lg-9 col-md-8">
            <div class="rounded-top font-weight-bold mx-2 px-3" id="select-branch">
                <div class="py-2">
                    Computer Science &amp; Engineering
                </div>
            </div>
            <div class="rounded-bottom mx-2 px-3" id="subject-name-bar">
                <div class="py-1">
                    Advanced Computer Architecture
                </div>
            </div>

            <div class="rounded-top font-weight-bold mt-3 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Chapter 1
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mb-3 mx-2 px-3" id="subject-name-bar">
                <div class="py-3">
                    <a href="#"><span class="topic-item rounded py-1 px-1">Single Instruction Multiple Data,</span></a>
                </div>
            </div>
            <div class="rounded-top font-weight-bold mt-3 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Chapter 2
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mb-3 mx-2 px-3" id="subject-name-bar">
                <div class="py-3">
                    <a href="#"><span class="topic-item rounded py-1 px-1">Single Instruction Multiple Data,</span></a>
                </div>
            </div>
            <div class="rounded-top font-weight-bold mt-3 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Chapter 3
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mb-3 mx-2 px-3" id="subject-name-bar">
                <div class="py-3">
                    <a href="#"><span class="topic-item rounded py-1 px-1">Single Instruction Multiple Data,</span></a>
                </div>
            </div>
            <div class="rounded-top font-weight-bold mt-3 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Chapter 4
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mb-3 mx-2 px-3" id="subject-name-bar">
                <div class="py-3">
                    <a href="#"><span class="topic-item rounded py-1 px-1">Single Instruction Multiple Data,</span></a>
                </div>
            </div>
            <div class="rounded-top font-weight-bold mt-3 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Chapter 5
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mb-3 mx-2 px-3" id="subject-name-bar">
                <div class="py-3">
                    <a href="#"><span class="topic-item rounded py-1 px-1">Single Instruction Multiple Data,</span></a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            
            <div class="rounded-top font-weight-bold mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Teacher Notes
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mx-2 px-3 py-2" id="subject-name-bar">
                <a href=""><div class="py-2 px-2 rounded tab-item">Chapter 1</div></a>
            </div>

            <div class="rounded-top font-weight-bold mt-2 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Previous Year Question Papers
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mx-2 px-3 py-2" id="subject-name-bar">
                <a href=""><div class="py-2 px-2 rounded tab-item">2017</div></a>
            </div>
            
            <div class="rounded-top font-weight-bold mt-2 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Practicals
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mx-2 px-3 py-2" id="subject-name-bar">
                <a href=""><div class="py-2 px-2 rounded tab-item">Practical 1</div></a>
            </div>

            <div class="rounded-top font-weight-bold mt-2 mx-2 px-3" id="select-branch">
                <div class="py-1">
                    Reference Books
                </div>
            </div>
            <div class="rounded-bottom font-weight-normal mx-2 px-3 py-2" id="subject-name-bar">
                <a href=""><div class="py-2 px-2 rounded tab-item">Kai Hwang, “Advanced computer architecture”, TMH. 2013 - 14</div></a>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>