<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Branch Name</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>
    <div class="container rounded-top font-weight-bold" id="select-branch">
        <div class="mt-3 py-3">
            Computer Science &amp; Engineering
        </div>
    </div>
    <div class="container rounded-bottom p-3" id="branches">
        <div class="row no-gutters font-weight-bold">
            <div class="col-lg-4 col-md-6">
                <div class="branch-card rounded m-2 p-3">
                    <div class="branch-card-title">Sem 1</div>
                    <hr>
                    <div class="subject-list">
                        <a href="#">
                            <div class="subject-name mt-2">Mathematics - 1</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Physics</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">English</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Fundamentals of Electronics Engineering</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Engineering Graphics</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="branch-card rounded m-2 p-3">
                    <div class="branch-card-title">Sem 2</div>
                    <hr>
                    <div class="subject-list">
                        <a href="#">
                            <div class="subject-name mt-2">Mathematics - 2</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Chemistry</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Fundamentals of Computer Science &amp; Engineering</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Data Structure - 1</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Concepts in Engineering Design</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="branch-card rounded m-2 p-3">
                    <div class="branch-card-title">Sem 3</div>
                    <hr>
                    <div class="subject-list">
                        <a href="#">
                            <div class="subject-name mt-2">Mathematics - 3</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Electronic Devices &amp; Circuit</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Digital Circuit &amp; Design</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Data Structure - 2</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Discrete Structures</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Communication Skills</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="branch-card rounded m-2 p-3">
                    <div class="branch-card-title">Sem 4</div>
                    <hr>
                    <div class="subject-list">
                        <a href="#">
                            <div class="subject-name mt-2">Computer System Organization</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Analog &amp; Digital communication</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Theory of computation</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Analysis &amp; Design of algorithm</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Material Science</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">System Engineering</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="branch-card rounded m-2 p-3">
                    <div class="branch-card-title">Sem 5</div>
                    <hr>
                    <div class="subject-list">
                        <a href="#">
                            <div class="subject-name mt-2">Data Communication</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Operating System</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Data Base Management System</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Computer Graphics &amp; Multimedia</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Object Oriented Analysis &amp; Design</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Artificial Intelligence</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Cyber Security</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="branch-card rounded m-2 p-3">
                    <div class="branch-card-title">Sem 6</div>
                    <hr>
                    <div class="subject-list">
                        <a href="#">
                            <div class="subject-name mt-2">Advanced Computer Architecture</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Principles of Programming Languages</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Software Engineering &amp; Project Management</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Computer Networking</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Internet of Things</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">Mobile Application Development</div>
                        </a>
                        <a href="#">
                            <div class="subject-name mt-2">IPR (Intellectual Property Rights)</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>