extends layout

block content
	.container-fluid.my-2
		.row
			.col-md-4.col-sm-6
				.card
					.card-body
						h5.card-title New Subject
						a.btn.btn-primary(href="/newcourse/newsubject") Add
			.col-md-4.col-sm-6
				.card
					.card-body
						h5.card-title New Chapter
						a.btn.btn-primary(href="/newcourse/newchapter") Add
			.col-md-4.col-sm-6
				.card
					.card-body
						h5.card-title New Topic
						a.btn.btn-primary(href="/newcourse/newtopic") Add
